<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2L.Extensibility.AuthSdk" version="1.2.0" targetFramework="net40" />
  <package id="D2L.Extensibility.AuthSdk.Restsharp" version="1.1.1" targetFramework="net40" />
  <package id="RestSharp" version="105.1.0" targetFramework="net40" />
</packages>